.field {
  label {
    font-size: 24px;
    display: block;
    margin-bottom: 4px;
  }

  input {
    font-size: 16px;
    padding: 8px;
    border: 1px solid lightgray;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
  }

  margin-bottom: 12px;
}